#navbar .container {
  max-width: 704px;
  display: flex;
  justify-content: space-between;
}
.articles-container {
  grid-template-columns: repeat(2, 1fr);
}
#home-articles .articles-container article:first-child,
#home-articles .articles-container article:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}
.links{
    transform: none;
}
@media screen and (max-width: 500px) {
  #navbar .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #navbar ul {
    margin-top: 1rem;
    text-align: center;
    display: grid;
    order: 2;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  #navbar ul li {
    margin-top: 0.5rem;
  }
  #navbar ul,
  #navbar .logo {
    justify-self: center;
  }
  .navbar .container ul li a {
    padding: 0.5rem 3rem;
  }
  .showcase-cantent {
    margin-bottom: 4rem;
  }
  .articles-container {
    display: flex;
    flex-direction: column;
  }
  .card-3{
    display: flex !important;
    flex-direction: column !important;
  }

  #footer .footer-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #footer .footer-part div p{
    text-align: center;
  }
  #footer .footer-part div:last-child{
    align-self: center;
    padding: 1.5rem 1rem;
  }
  .links{
    transform: none;
    display: flex;
    flex-direction: column;
    
  }
  .footer-part ul{
    padding: 0 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #footer ul li{
    width: 100% !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
}

